.filters {
  .dropdown__selected {
    @extend %ellipsis;
  }
}

.filters__content {
  max-height: inherit;
  display: flex;
  flex-direction: column;
}

.filters__none {
  padding: 4px;
  margin: 16px 20px;
}

.filters__none-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.filters__none-description {
  font-size: 13px;
}

.filters__items {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &--scrollable {
    overflow-y: scroll;
  }

  &--with-padding {
    padding: 16px 8px 10px 10px;
  }
}

.filters__item {
  display: grid;
  align-items: center;
  grid-template-columns: 68px 1fr;
  margin-left: 5px;
  column-gap: 10px;
  @include rounded($rounded);

  &.filters__item--level-1 {
    .filters__items--full-width & {
      padding-right: 8px;
    }
  }
}

.filters__group-item-wrapper {
  display: grid;
  grid-template-columns: 68px 1fr;
  column-gap: 10px;
  margin-left: 5px;
  align-items: baseline;
}

.filters__group-item {
  background-color: $color-neutral-100;
  border-radius: 6px;
  border: 1px solid $color-neutral-200;
}

.filters__group-item-filters {
  min-height: 20px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filters__group-item-actions {
  border-top: 1px solid rgba(217, 219, 222, 0.5);
  padding: 8px 16px;
  display: flex;
}

.filters__remove {
  color: $color-neutral-500;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid $palette-neutral-400;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(7, 8, 16, 0.1);
  width: 36px;
  height: 36px;
  justify-content: center;

  @include elevation($elevation-low);
  @include flex-align-items();

  &:hover {
    text-decoration: none;
    color: $color-neutral-900;
  }

  .filters__condition-item--loading & {
    visibility: hidden;
  }
}

.filters__remove--disabled {
  color: $color-neutral-500;
  background: $color-neutral-50;
  border-color: $color-neutral-400;

  &:hover {
    cursor: not-allowed;
    color: $color-neutral-500;
  }
}

.filters__operator-where {
  margin-left: 10px;
}

.filters__operator-text {
  margin-left: 12px;
}

.filters__value {
  flex: 0 0;
}

.filters__multi-value {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.filters__value-input {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 36px;
}

.filters__combined_value-input {
  &.filters__value-input--small {
    width: 50px;
  }
}

.filters__value-date-timezone {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.filters__value-timezone {
  font-size: 11px;
  color: $color-neutral-400;
}

.filters__value-rating {
  border: solid 1px $palette-neutral-400;
  padding: 6px 12px;
  @include rounded($rounded);
  @include elevation($elevation-low);
}

.filters__value-link-row {
  @extend %ellipsis;

  display: block;
  position: relative;
  color: $color-neutral-900;
  line-height: 36px;
  height: 36px;
  border: 1px solid $palette-neutral-400;
  padding: 0 10px;
  background-color: $white;
  width: 100%;
  @include rounded($rounded);
  @include elevation($elevation-low);

  &:hover {
    text-decoration: none;
    border-color: $color-neutral-700;
  }

  &.filters__value-link-row--disabled {
    color: $color-neutral-900;
    background-color: $color-neutral-50;

    &:hover {
      cursor: inherit;
      border-color: $color-neutral-400;
    }
  }

  &.filters__value-link-row--loading {
    &::before {
      content: '';
      margin-top: -7px;

      @include loading(14px);
      @include absolute(50%, auto, 0, calc(50% - 7px));
    }
  }
}

.filters__value-link-row-choose {
  font-weight: 600;
  text-align: center;
}

.filters__footer {
  border-top: 1px solid rgba(217, 219, 222, 0.5);
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.filters__actions {
  @include flex-align-items(16px);
}

.filters__add {
  @include flex-align-items(4px);

  &:hover {
    text-decoration: none;
    color: $color-neutral-900;
  }

  .filters__container--dark & {
    color: $palette-neutral-900;

    &:hover {
      color: $palette-neutral-1100;
    }
  }
}

.filters__add-icon {
  font-size: 20px;
}

.filters__condition-item {
  display: grid;
  width: 500px;

  /* 60px = 36px (button) + (8px (gap) * 3 (number of gaps))  */
  grid-template-columns: calc(42% - 60px) 26% 32% 36px;
  column-gap: 8px;
  align-items: center;
  position: relative;

  &.filters__condition-item--loading {
    &::before {
      content: '';
      margin-top: -7px;

      @include loading(14px);
      @include absolute(50%, 8px, 0, auto);
    }
  }

  .filters__items--full-width & {
    width: 100%;
  }
}
